@import "tailwindcss";

@layer utilities {
    .container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    
    @media (min-width: 640px) {
      .container {
        padding-left: 2rem;
        padding-right: 2rem;  
      }
    }
    @media (min-width: 1024px) {
      .container {
        padding-left: 4rem;
        padding-right: 4rem;
      }
    }
    
    @media (min-width: 1280px) {
      .container {
        padding-left: 5rem;
        padding-right: 5rem;
      }
    }
  }

  @layer components {
    .primary-btn {
      @apply text-sm font-semibold lg:text-base border-[1px] border-black px-4 py-2 shadow-[5px_5px_0px_0px] hover:bg-black hover:text-white duration-300 hover:shadow-[5px_5px_0px_0px_#6c6c6c];
    }
  }