@import "tailwindcss";

@layer utilities {
    .container {
      margin-left: 1rem;
      margin-right: 1rem;
      max-width: 100%;
      box-sizing: border-box;
    }

    @media (min-width: 640px) {
      .container {
        margin-left: 1rem;
        margin-right: 1rem;
        max-width: 100%;
      }
    }

    @media (min-width: 1024px) {
      .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
      }
    }

    @media (min-width: 1280px) {
      .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
      }
    }

    @media (min-width: 1536px) {
      .container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 4rem;
        padding-right: 4rem;
        max-width: 100%;
      }
    }
  }

  @layer components {
    .primary-btn {
      @apply text-sm font-semibold lg:text-base border-[1px] border-black px-4 py-2 shadow-[5px_5px_0px_0px] hover:bg-black hover:text-white duration-300 hover:shadow-[5px_5px_0px_0px_#6c6c6c];
    }
  }